<footer class="bg-warning" style="height: 10vh; min-height: 50px;">
    <nav class="d-flex justify-content-between align-items-center h-100 px-4">
        <a class="logo btn" (click)="navigateTo('')" style="width: auto; height: 50%">
            <img src="/assets/sun.png" alt="logo" class="img-fluid" style="width: 100%; height: 100%">
        </a>
        <div class="d-flex align-items-center">
            <a class="btn btn-outline-danger text-white rounded" (click)="navigateTo('admin-login')" style="border-radius: 20px;">Admin</a>
        </div>
    </nav>
</footer>