.custom-form {
    background-color: rgba(169, 169, 169, 0.5); 
    border: 2px solid green; 
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dp-hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.table-text {
    max-width: 350px;
    text-align: center;
    font-style: italic;
    color: green;
    text-align: center;
}
